@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
* {
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: "IranianSans";
  src: url("srcs/IranianSansRegular.ttf") format("truetype"), url("fonts/IRANSans-web.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "IranianSansBold";
  src: url("srcs/IranianSansBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  overflow-x: hidden;
  -webkit-transition-property: all;
  transition-property: all;
  margin: 0px 0px;
  line-height: 1.8em;
  width: 100vw;
  height: 100vh;
  font-family: "IranianSans", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.navi {
  height: 70px;
  width: 100vw;
  color: black;
  position: fixed;
  top: 0;
  left: 0;
  border-bottom: rgba(255, 255, 255, 0.247) 1px solid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  z-index: 3;
}

.navi ul {
  padding: 0;
  margin: 0;
}

.navi img {
  height: 100%;
}

.navi h1 {
  color: white;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
  font-weight: 900;
}

.navi-item {
  color: white;
  font-family: "IranianSans", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.navi-item li {
  display: inline;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 15px;
}

.navi-item li:nth-child(4) {
  background: rgba(255, 255, 255, 0.932);
  border-radius: 25px;
  color: #1f1f1f;
}

.support {
  position: fixed;
  bottom: 25px;
  left: 25px;
  z-index: 4;
}

.support img {
  width: 7vw;
  opacity: 0.8;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

.head-bg {
  width: 100%;
  min-height: 700px;
  background: url("srcs/Desktop - 1.svg") no-repeat;
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "IranianSans", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding: 50px;
  padding-top: 80px;
}

.head-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.head-left img {
  width: 400px;
}

.head-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
  text-align: center;
  text-align: right;
  margin-top: 20px;
}

.head-right h6 {
  margin-bottom: 15px;
  font-size: 23px;
  margin-bottom: 30px;
  line-height: 1.8em;
  font-family: "IranianSansBold", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.head-right p {
  font-size: 16px;
  font-family: "IranianSans", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.head-right button {
  border-radius: 50px;
  font-size: 18px;
  padding: 15px 25px;
  background-color: none;
}

.promo-cnt {
  width: 80%;
  margin-top: 40px;
}

.sec-1 {
  min-height: 600px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px;
}

.sec-1 hr {
  margin-top: 0;
  margin-bottom: 30px;
}

.sec-1 h4 {
  margin-top: 20px;
  margin-bottom: 10px;
}

.sec-1 h2 {
  color: #2b2b2b;
  font-size: 25px;
  font-family: "IranianSans", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.how-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.how-1 div {
  width: 300px;
}

.how-1 img {
  width: 170px;
}

.how-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.how-2 div {
  width: 300px;
}

.how-2 img {
  width: 170px;
}

.how-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.how-3 div {
  width: 300px;
}

.how-3 img {
  width: 170px;
}

.foot {
  width: 100%;
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.lni {
  height: 1px;
  width: 80%;
  background: #c4c4c4;
  margin-bottom: 70px;
}

.f-row {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.sec2 {
  background: #f4f4f4;
  width: 100%;
  min-height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 50px;
  font-family: "IranianSans", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.sec2 h3,
.sec2 p {
  color: #535353;
}

.sec2 .q-cnt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 70%;
}

.sec2 .q-cnt .qouti {
  width: 100px;
  height: 110px;
  margin-bottom: -60px;
  margin-right: -40px;
  z-index: 2;
}

.sec2 .slidder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70%;
  height: 250px;
  background: white;
  border-radius: 20px;
  -webkit-box-shadow: 0px 0px 39px -16px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 39px -16px rgba(0, 0, 0, 0.3);
}

.sec2 .slidder .slidder-t {
  text-align: center;
}

.sec2 .slidder .slidder-t h4 {
  padding-bottom: 0px;
}

.sec2 .slidder .slidder-t .sl-inside {
  width: 70px;
  margin-bottom: 20px;
}

.order-bg {
  background: #f5f5f5;
  padding: 50px;
  padding-top: 100px;
  font-family: "IranianSans", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.order-bg button {
  width: 100%;
}

.storbbx {
  background: #525f7f;
}

.fontff {
  font-family: "IranianSans", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.order-right {
  background: #ffffff;
  border-radius: 20px;
  width: 100%;
  padding: 50px;
  padding-top: 30px;
  -webkit-box-shadow: 0px 0px 20px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 20px -10px rgba(0, 0, 0, 0.75);
}

.order-right .upfl {
  background: white;
}

.head {
  width: 100%;
  height: 80vh;
  background: url("./srcs/hanger2.jpg") no-repeat;
  background-size: cover;
  background-position-y: bottom;
  background-position-x: center;
}

.ssec2 {
  width: 100%;
  height: 80vh;
  background: #f4f4f4;
}

.gl-ct {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.gl-ct button {
  margin-top: -52px;
  font-family: "IranianSans", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 12px;
}

.gl-ct .modal-content button {
  margin: 0;
}

.gallery {
  margin-top: 2vw;
  -o-object-fit: contain;
     object-fit: contain;
  display: inline-block;
  width: 30vw;
  height: 45vw;
}

.gallery img {
  width: 100%;
  height: 100%;
}

.gallery2 {
  margin-top: 2vw;
  -o-object-fit: contain;
     object-fit: contain;
  width: 65vw;
  height: 45vw;
  float: right;
}

.gallery2 img {
  width: 100%;
  height: 100%;
}

.gallery3 {
  margin-top: 2vw;
  -o-object-fit: contain;
     object-fit: contain;
  width: 45vw;
  height: 38vw;
}

.gallery3 img {
  width: 100%;
  height: 100%;
}

.gallery4 {
  margin-top: 2vw;
  -o-object-fit: contain;
     object-fit: contain;
  width: 50vw;
  height: 38vw;
}

.gallery4 img {
  width: 100%;
  height: 100%;
}

.gallery5 {
  -o-object-fit: contain;
     object-fit: contain;
  width: 35vw;
  margin-top: 0.5vw;
  height: 28vw;
  float: left;
}

.gallery5 img {
  width: 100%;
  height: 100%;
}

.order-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #ffffff;
  border-radius: 20px;
  width: 100%;
  padding: 50px;
  -webkit-box-shadow: 0px 0px 20px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 20px -10px rgba(0, 0, 0, 0.75);
}

.order-box {
  background: #27293d;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  min-height: 200px;
}

.order-box a {
  color: #06090c;
  background: #f4f4f4;
  padding: 10px;
  border-radius: 25px;
  font-size: 12px;
  font-weight: 600;
}

.order-box h6 {
  line-height: 1.6em;
}

.success {
  background: #18c398;
}

.failed {
  background: #5f62ab;
}

.form-signin {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form-signin h2 {
  font-size: 50px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  margin-bottom: 50px;
}

.orderstats {
  width: 400px;
  margin: auto;
}

.myfaq {
  min-height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 50px;
  width: 100%;
}

.myfaq .myq {
  width: 70%;
  font-size: 15px;
}

.myfaq .myq a {
  font-size: 18px;
}

.noborder {
  border: none;
}

.heartbeat {
  -webkit-animation: heartbeat 5s ease-in-out infinite both;
  animation: heartbeat 5s ease-in-out infinite both;
}

.mystatus {
  min-height: 100vh;
  overflow-x: hidden;
}

.mystatus img {
  width: 250px;
}

.myfooter {
  width: 100%;
  min-height: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-top: 100px;
  padding-bottom: 100px;
}

.myfooter h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 50px;
  color: cornsilk;
}

.myfooter h3 {
  font-weight: 900;
  color: #69b0c2;
  font-family: "IranianSans", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
}

.myfooter p {
  color: whitesmoke;
  font-family: "IranianSans", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 13px;
}

@media only screen and (min-width: 1400px) {
  .order-ct {
    width: 1400px;
    margin: auto;
  }
  .cntall {
    width: 1500px;
    margin: auto;
  }
  .cntall2 {
    width: 1000px;
    margin: auto;
  }
  .sec2 .slidder,
  .sec2 .q-cnt {
    width: 1000px;
  }
  .myfaq .myq {
    width: 1000px;
  }
}

@media only screen and (max-width: 992px) {
  .sec-1 .h-cnt {
    width: 200px;
  }
  .order-left {
    margin-top: 10px;
  }
}

@media only screen and (max-width: 767px) {
  .myfooter h3,
  .myfooter p,
  .myfooter h1 {
    text-align: center;
  }
  .myfooter h3 {
    margin-top: 50px;
  }
  .head-right {
    margin-top: 0;
  }
  .support img {
    width: 15vw;
  }
  .myfaq .myq {
    width: 80%;
  }
  .sec2 .slidder {
    width: 80%;
  }
  .sec-1 .h-cnt {
    width: 330px;
    margin-bottom: 50px;
  }
  .sec-1 .s2-ct {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .head-left img {
    margin-top: 50px;
  }
  .head-bg {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .head-bg div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    text-align: center;
  }
}

@media only screen and (max-width: 576px) {
  .mystatus h3 {
    font-size: 18px;
  }
  .myfaq,
  .sec2 {
    padding: 20px;
  }
  .q-cnt {
    display: none;
  }
  .q-cnt .qouti {
    display: none;
  }
  .orderstats {
    width: 90%;
  }
  .order-bg {
    font-size: 12px;
  }
  .sec-1 .h-cnt {
    width: 280px;
  }
  .myfaq {
    font-size: 15px;
  }
  .myfaq .myq {
    width: 90%;
    font-size: 15px;
  }
  .sec2 .slidder {
    width: 90%;
  }
  .sec2 .q-cnt {
    width: 90%;
  }
  .promo-cnt {
    width: 100%;
  }
  .head-left img {
    width: 90%;
  }
  .navi li {
    font-size: 12px;
    padding: 10px;
  }
  .navi h1 {
    display: none;
  }
}

@media only screen and (max-width: 350px) {
  .order-bg {
    font-size: 11px;
  }
  .order-bg {
    padding: 80px 30px 30px 30px;
  }
  .sec-1,
  .head-bg {
    padding: 30px;
  }
  .myfaq .myq {
    width: 100%;
  }
  .sec2 .slidder {
    width: 100%;
  }
  .sec2 .slidder-t {
    font-size: 12px;
  }
  .sec2 .slidder-t h4 {
    font-size: 20px;
  }
  .sec-1 .h-cnt {
    width: 220px;
  }
  .head-bg {
    padding: 20px;
    padding-top: 50px;
  }
  .promo-cnt {
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */